@import 'variables';

body {
    background-color: $cigar;
    color: $grey;
}


.post-link, .site-title, a, .rss-subscribe a, .page-link {
    &:link {
      color: $amber;  
    }
    &:visited {
        color: $amber;
    }
    &:hover {
        background-color: $darkGrey;
        text-decoration: none;
    }
}